.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  list-style-type: none;
  padding: 20px;
  display: flex;
  position: absolute;
  top: 50px;
  left: 20px;
}
.navbar >li{
 letter-spacing: -12px;
text-align: center;
}

.circle{
  margin-right: 1em;
  border: 3px solid red; 
   border-radius: 50%;
   height: 45px;
   width: 45px; 
    background-color: red; 
    position: relative;
   /* position: absolute;
   left: 200px;
   top: 50px; */
}
 @keyframes dropbal{
  0%{
    background-color: red; 
 letter-spacing: -13px;
transform: translateY(0px);

  }
  30%{
    background-color: rgba(red, 0,0, 0.8); 
  
  }
80%{
     background-color: transparent;
}
  100%{ 
  

transform: translateY(150px);
 letter-spacing: normal;
  }
} 

.navbar>li:hover{
cursor: pointer;


}
.dropbal{
  animation-name: dropbal;
  animation-duration: 5s; 
  letter-spacing: normal;
transform: translateY(150px);
  background-color: transparent;
border-color: transparent;

}
@keyframes upbal{
  0%{
    border-color: transparent;
    transform: translateY(150px);
  letter-spacing: normal; 
   background-color: transparent;

  }
  20%{
  
  }
  100%{ 
     letter-spacing: -13px;
 background-color: red;
 
  }
}
.upbal{
  animation-name: upbal;
  animation-duration: 2s;

}


